<aside class="recent-posts">
  @if (isLoading) {
  <app-loader />
  } @else {
  <h2 class="section-title">
    <i class="fas fa-clock"></i>
    Recent Posts
  </h2>

  <div class="post-list">
    @for (post of posts; track $index) {
    <div class="post-item">
      <h3 class="post-title">
        <a [routerLink]="['/articles', post.articleId._id]">
          {{ post.articleId.articleName }}
        </a>
      </h3>
      <div class="post-meta">
        <div class="post-author">
          <i class="fas fa-user"></i>
          <span>{{ post.userId.username }}</span>
        </div>
        <time>
          <i class="fas fa-calendar-alt"></i>
          {{ post.created_at | date : "shortDate" }}
        </time>
      </div>
    </div>
    }
  </div>
  }
</aside>
