<div class="article-container">
  @if(!isLoggedIn) {
  <app-home />
  } @else {
  <article>
    <header class="article-header">
      <h1 class="article-title">{{ article.articleName }}</h1>
      <div class="article-meta">
        <div class="meta-item">
          <i class="fas fa-user"></i>
          <span>{{ article.userId.username }}</span>
        </div>
        <div class="meta-item">
          <i class="fas fa-calendar"></i>
          <time>{{ article.created_at | date : "mediumDate" }}</time>
        </div>
        <div class="meta-item">
          <i class="fas fa-users"></i>
          <span>{{ article.subscribers.length || 0 }} subscribers</span>
        </div>
      </div>
    </header>

    <div class="article-content">
      @for (post of article.posts; track $index) {
      <div class="comment">
        <div class="comment-header">
          <div class="meta-item">
            <i class="fas fa-user"></i>
            <span>{{ post.userId.username }}</span>
          </div>
          <time>{{ post.created_at | date : "medium" }}</time>
        </div>
        <div class="comment-content">
          <p>{{ post.text }}</p>
        </div>
        <div class="article-actions">
          <div class="action-buttons">
            <button class="action-button">
              <i class="fas fa-heart"></i>
              {{ post?.likes?.length || 0 }} Likes
            </button>
          </div>
        </div>
      </div>
      }
    </div>

    @if (isLoggedIn) {
    <div class="comments-section">
      <div class="comments-header">
        <h3>Add Your Thoughts</h3>
      </div>
      <div class="comment-form">
        <form>
          <div class="meta-item">
            <i class="fas fa-user"></i>
            <span>{{ username }}</span>
          </div>
          <div class="comment-input">
            <textarea
              name="postText"
              placeholder="Share your insights..."
              rows="4"
            ></textarea>
          </div>
          <button type="submit" class="action-button">
            <i class="fas fa-paper-plane"></i>
            Post Comment
          </button>
        </form>
      </div>
    </div>
    }
  </article>
  }
</div>
