.notification {
  position: fixed;
  z-index: 10;
  right: 8%;
  top: 8%;
  padding: 0.5rem;
  border-radius: 0.5rem;
  color: rgb(255, 255, 255);
  font-size: italic;
  text-decoration: underline;
  box-shadow: 0 5px 10px rgb(204, 204, 204);
}

.error-message {
  background-color: red;
}

.success-message {
  background: green;
}
