<main>
  <div class="articles-grid">
    <article class="article-card">
      <div class="article-content">
        <h2 class="article-title">
          <a>Article Title</a>
        </h2>
        <div class="article-meta">
          <div class="article-author">
            <i class="fas fa-user"></i>
            <span>Author Name</span>
          </div>
          <div class="article-stats">
            <div class="stat">
              <i class="fas fa-calendar"></i>
              <time>Publish Date</time>
            </div>
            <div class="stat">
              <i class="fas fa-users"></i>
              <span>0 Subscribers</span>
            </div>
          </div>
        </div>
        <a class="read-more"> Read More <i class="fas fa-arrow-right"></i> </a>
      </div>
    </article>
  </div>
</main>
