<main>
  <div class="articles-grid">
    @if (isLoading) {
    <app-loader />
    } @else { @for (article of articles; track $index) {
    <article class="article-card">
      <div class="article-content">
        <h2 class="article-title">
          <a [routerLink]="article._id">{{ article.articleName }}</a>
        </h2>
        <div class="article-meta">
          <div class="article-author">
            <i class="fas fa-user"></i>
            <span>{{ article.userId.username }}</span>
          </div>
          <div class="article-stats">
            <div class="stat">
              <i class="fas fa-calendar"></i>
              <time>{{ article.created_at | date : "shortDate" }}</time>
            </div>
            <div class="stat">
              <i class="fas fa-users"></i>
              <span>{{ article?.subscribers?.length || 0 }} Subcribers</span>
            </div>
          </div>
        </div>
        <a [routerLink]="article._id" class="read-more">
          Read More <i class="fas fa-arrow-right"></i>
        </a>
      </div>
    </article>
    } }
  </div>
</main>
